{% extends 'authentication/base.html' %}
{% block content %}

<h2 class="text-center">Change Password</h2>
<div class="col-md-6 offset-md-3">
    <form method="POST" action="{% url 'change_password' %}">
        {% csrf_token %}

        {% if form.errors %}
            <div class="alert {{ message.tags }} alert-warning alert-dismissable" role="alert">
                <button class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button></button>
                <p>Your form has errors.</p>
                {% for field in form %}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>        
        {% endif %}
            {{ form.as_p }}
        <button type="submit" class="btn btn-secondary">Change Password</button>
    </form>
</div>
{% endblock %}